@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply transition-[background-color] duration-300 ease-in-out;
	}
	body {
		@apply bg-black text-white font-unbounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary-500;
	}
	body::after {
		@apply block opacity-[0.03] -z-[1] fixed content-[""] -inset-[100vh];
		background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='125%25' height='125%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply uppercase text-xl font-semibold;
	}
}

@layer components {
	.backing::after,
	.backing::before,
	.backing > span {
		@apply transition-transform duration-300 ease-in-out;
	}
	.backing::after,
	.backing::before {
		@apply content-[''] absolute -inset-1 rounded-md border-2 border-current pointer-events-none;
	}
	.backing {
		@apply after:bg-white lg:hover:after:-translate-x-1 lg:hover:after:-translate-y-1 before:bg-current lg:hover:before:translate-x-1 lg:hover:before:translate-y-1 lg:group-hover:translate-x-1 text-current;
	}
	.text-gradient {
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.fade-mask {
		mask: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
	}
}

.splide__track {
	@apply cursor-grab active:cursor-grabbing;
}
